include/
share/
/gen/*
/nqp/
repo/
install/
install-jvm/
Makefile
*.pir
*.lib
*.dll
/*.dll.a
*.so
*.o
*.obj
*.exp
*.pdb
*.bundle
*~
.*.swp
*.patch
*.pdb
*.res
*.exp
*.lib
*.jar
*.moarvm
*.js.map
blib/Perl6/**/*.js
lib/Test.pir
lib/Pod/To/Text.pir
lib/lib.pir
CORE.setting.pbc
RESTRICTED.setting.pbc
SAFE.setting.pbc
perl6.class
perl6.pbc
perl6.moarvm
perl6_s1.pbc
perl6-p.exe.manifest
perl6-p.c
perl6-p.o
perl6-p.obj
perl6-debug-p
perl6-debug-p.c
perl6-debug-p.o
perl6-debug-p.obj
perl6-debug-p.exe
perl6-debug.pbc
perl6-debug.rc
perl6.RES
perl6.ilk
perl6.opt
perl6.pdb
perl6.rc
/perl6
/perl6.exe
/perl6.bat
/perl6-p
/perl6-p.exe
/perl6-j
/perl6-j.bat
/perl6-debug-j
/perl6-debug-j.bat
/perl6-jdb-server
/perl6-jdb-server.bat
/perl6-eval-server
/perl6-eval-server.bat
/eval-client.pl
/perl6.js
/rakudo.js
/perl6-debug.js
/perl6-js
/perl6-js.bat
/perl6-m
/perl6-m.exe
/perl6-debug-m
/perl6-debug-m.bat
/perl6-gdb-m
/perl6-gdb-m.bat
/perl6-lldb-m
/perl6-lldb-m.bat
/perl6-valgrind-m
/perl6-valgrind-m.bat
/rakudo-m.c
/rakudo
/rakudo-m
/rakudo-m.exe
/rakudo-debug-m
/rakudo-debug-m.bat
/rakudo-gdb-m
/rakudo-gdb-m.bat
/rakudo-lldb-m
/rakudo-lldb-m.bat
/rakudo-valgrind-m
/rakudo-valgrind-m.bat
/rakudo-j
/rakudo-debug-j
/rakudo-eval-server
/rakudo-jdb-server
/inst-perl6
/inst-perl6-debug
/inst-perl6-m
/inst-perl6-debug-m
/inst-perl6.exe
/inst-perl6-debug.exe
/inst-perl6-m.exe
/inst-perl6-debug-m.exe
/inst-perl6w.exe
/inst-perl6w-m.exe
/inst-rakudo
/inst-rakudo-debug
/inst-rakudo-m
/inst-rakudo-debug-m
/inst-rakudo.exe
/inst-rakudo-debug.exe
/inst-rakudo-m.exe
/inst-rakudo-debug-m.exe
/inst-rakudow.exe
/inst-rakudow-m.exe
t/localtest.data
t/spec
t/packages/tap-harness6
/panda
MANIFEST
commits.png
dynext/*.o
dynext/*.obj
dynext/*.bundle
dynext/*.so
dynext/*.dll
dynext/*.pdb
dynext/*.dylib
perl6_group.?
perl6_group.obj
docs/test_summary.times
docs/test_summary.times.tmp
lib/DateTime/strftime.pir
lib/Safe.pir
rakudo_test_run.tar.gz
config.status
config.default
/bin
rakudo-runtime.jar
CORE.?.setting.class
CORE.?.setting.js
*.rakudo.moar
*.rakudo.jvm
.precomp
t/03-jvm/*.class
/zef
.DS_Store
node_modules/*
rakudo-m-early-build
rakudo-js-build
rakudo-j-build
