# Builds and tests rakudo for different configurations
# For appveyor.yml syntax reference, please see
# https://www.appveyor.com/docs/appveyor-yml
#
# JVM is already preinstalled in build worker. Please see
# https://www.appveyor.com/docs/installed-software#java
#

# Platforms (e.g. x64, x86)
platform:
  - x64

# Operating system (build VM template)
os: Visual Studio 2017

configuration:
  - Release

# Monitored branches
branches:
  only:
    - master
    - /smoke-me/

# To stop automatic build of VS solution files
build: off

# Build configurations
environment:
  matrix:
    - RAKUDO_OPTIONS: --backends=moar --gen-nqp        --gen-moar
    - RAKUDO_OPTIONS: --backends=moar --gen-nqp=master --gen-moar
    - RAKUDO_OPTIONS: --backends=moar --gen-nqp=master --gen-moar=master
#    - RAKUDO_OPTIONS: --backends=jvm  --gen-nqp
#    - RAKUDO_OPTIONS: --backends=jvm  --gen-nqp=master

# Allow failures from certain build configuration
#matrix:
#  allow_failures:
#    - platform: x64
#      RAKUDO_OPTIONS: --backends=jvm  --gen-nqp
#    - platform: x64
#      RAKUDO_OPTIONS: --backends=jvm  --gen-nqp=master

# Installation
install:
  - '"C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"'
  - appveyor-retry choco install strawberryperl --version 5.20.1.1 --allow-empty-checksums
  - SET PATH=C:\strawberry\c\bin;C:\strawberry\perl\site\bin;C:\strawberry\perl\bin;%PATH%
  - ECHO %RAKUDO_OPTIONS%
  - CD %APPVEYOR_BUILD_FOLDER%
  - SET RAKUDO_SKIP_TIMING_TESTS=1

# Testing
test_script:
  - perl Configure.pl %RAKUDO_OPTIONS%
  - SET TEST_JOBS=1
  - SET HARNESS_VERBOSE=1
  - nmake test
  - nmake install
