# 
# code_swarm configuration file for Rakudo
#  
# code_swarm can be gotten from http://github.com/rictic/code_swarm/
#
# Place this file in .git/.code_swarm/project.config and execute code_swarm
#
# An example video can be seen at http://feather.perl6.nl/~duff/rakudo-swarm.avi

# Input file
InputFile=log.xml

# Color assignment rules
# Keep in order, do not skip numbers. Numbers start
# at 1.
# 
# Pattern:  "Label", "regex", R,G,B, R,G,B
# Label is optional.  If it is omitted, the regex
# will be used.
#
ColorAssign1="Tests","t\/.*\.t$", 0,225,0, 0,225,0
ColorAssign2="Parrot",".*(\.pir|\.pasm)$", 255,165,79, 255,165,79
ColorAssign3="Perl",".*\.p[ml]$", 0,225,225, 0,225,225
ColorAssign4="C",".*(\.c|\.h|\.pmc|\.ops)$", 131,111,255, 131,111,255
ColorAssign5="Docs",".*(STATUS|ROADMAP|MAINTAINER|CREDITS|LICENSE|README|PARROT_REVISION|\.html|\.txt|\.pod|docs.*)", 255,255,0, 255,255,0
ColorAssign6="Grammar/Actions","(.*(\.g|\.pge|\.tge|\.nqp)$)|(.*(Grammar|Action).*)", 225,90,90, 225,90,90


# Save each frame to an image?
TakeSnapshots=false

# Where to save each frame
#   Note: this directory is relative to the code_swarm directory, 
#         not the current directory
SnapshotLocation=frames/frame-#######.png


#Is the input xml sorted by date?  It's faster and uses much less memory if it is
IsInputSorted=true
#  - All of the given scripts for producing repository xml files produce sorted data
#  - Please file a bug if one doesn't


# Uncomment to not use avatars
#AvatarFetcher=NoAvatar

# To use local avatars, uncomment this line:
#AvatarFetcher=LocalAvatar

# then place png files named after the usernames of committers in 
# the data/local_avatars directory
# data/local_avatars/default.png is used by default

ShowUserName=true

Font=SansSerif
FontSize=10
BoldFontSize=10

UseOpenGL=false

# Optional Method instead of MillisecondsPerFrame
FramesPerDay=4

#Masses
FileMass=1.0
PersonMass=10.0

ShowHistory=true
ShowEdges=false

# Life of a File
FileLife=200

# Life of a Person
PersonLife=255

